
.article-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 450px;
  }
  
  .article {
    width: calc(50% - 20px);
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    background-color: white;
  }
  
  
.article img {
    width: 100%; 
    max-height: 150px; 
    object-fit: cover; 
    display: block; 
    margin: -10px -8px 24px -2px;
  }
  
  
  .article h2 {
    font-size: 1.5em;
    margin: 10px 0;
  }
  
  
.author1 {
  position: relative; 
  margin-top: 50px; 
  margin-right: 660px;
  font-style: italic;
  color: #666;
}

.author2 {
  position: relative; 
  margin-top: 50px;
  margin-right: 660px;
  font-style: italic;
  color: #666;
}


@media screen and (max-width: 768px) {
  .author1,
  .author2 {
    position: relative; 
    margin-top: 20px; 
    font-style: italic;
    color: #666;
  }
}

  
  .article h3 {
    font-style: italic;
    color: #666;
  }

  p{
    font-family: sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 134.167%;
    color: #5C5C5C;
  }
  