 /* ArticleList.css */
.article-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 450px;
  }
  
  .article {
    width: calc(50% - 20px);
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    background-color: white;
  }
  
  
.article img {
    width: 100%; /* Adjust the image width */
    max-height: 150px; /* Set a maximum height for the image */
    object-fit: cover; /* Maintain image aspect ratio */
    display: block; /* Ensure block display to prevent overlapping */
    margin: -10px -8px 24px -2px;
  }
  
  
  .article h2 {
    font-size: 1.5em;
    margin: 10px 0;
  }
  .article p {
    margin-bottom: 10px;
    left: 40px;
  }
  
  
  .article h3 {
    font-style: italic;
    color: #666;
  }

  p{
    font-family: sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 134.167%;
    color: #5C5C5C;
  }
  