
  .top-img {
    position: absolute;
    top: 70px; 
    left: 0;
    right: 0;
    bottom: 280px;
    display: flex;
    justify-content: center;
  }
  
  .top-img img {
    width: 100vw; 
    height: 100%;
    object-fit: cover;
  }
  
  