.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  background-color: white;
  color: green;
}

.nav-item { 
  padding: 10px;
  
}

.search-bar {
  flex-grow: 1; 
}


input[type="text"] {
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}


.profile-image {
  width: 30px; 
  height: 30px;
  border-radius: 50%; 
  margin-right: 5px; 
}

.create-btn {
  border-radius: 30px;
  background-color: green;
  color: white;
}