
.post-actions {
  position: absolute;
  top: 70%; 
  left: 30%; 
  transform: translate(-50%, -50%); 
  display: flex;
  align-items: center;
  padding: 10px;
}

.tag {
  font-weight: bold;
  color: #333;
  margin-right: 20px; 
}
