.post {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .post-header {
    display: flex;
    flex-direction: column;
  }
  .post-header2 {
    display: flex;
    flex-direction: column;
  }


  
  .author-profile {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .author-profile2 {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .author-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .author-name {
    margin: 0;
    font-weight: bold;
    color: #333;
  }
  
  .post-header h2 {
    margin: 10px 0;
    font-size: 24px;
  }
  
  .post-image {
    max-width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .content {
    line-height: 1.6;
    color: #333;
  }