.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: white;
  }
  
  .nav-item { 
    padding: 10px;
  }
  
  .search-bar {
    flex-grow: 1; 
  }
  

  input[type="text"] {
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
 
  .profile-image {
    width: 30px; /* Adjust the width and height as needed */
    height: 30px;
    border-radius: 50%; /* To make the image circular */
    margin-right: 5px; /* To create space between the image and text */
  }