.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: white;
  }
  
  .nav-item { 
    padding: 10px;
  }
  
  .search-bar {
    flex-grow: 1; 
  }
  

  input[type="text"] {
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
 
  .social-profile {
    
  }